<center>
    <!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>
    <h1>Account Linking</h1>
    <p>
        <strong style="color: green;">PassportJS</strong> | 
        <strong style="color: green;">MongoDB</strong> | 
        <strong style="color: green;">NodeJS</strong> | 
        <strong style="color: green;">ExpressJS</strong>
    </p>
    <button>
        <a href="/auth/google">Login with Google</a>
    </button>
</center>